.link {
  margin: 30px;
  text-decoration: none;
  background-color: rgb(208, 255, 0);
  color: black;
  font-weight: 600;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
  margin-top: 30px;
}
